@font-face {
  font-family: 'Inter';
  src:url("assets/fonts/Inter.ttf");
  font-weight: 400 ;
}
@font-face {
  font-family: 'Inter';
  src:url("assets/fonts/Inter.ttf");
  font-weight: 700 ;
}
@font-face {
  font-family: 'Merriweather', serif;
  src:url("assets/fonts/Merriweather-Regular.ttf");
  font-weight: 700;
}
* {
    box-sizing: border-box;
  }
.nav-list {
  display: flex;
  font-family: Inter;
  font-weight: 400;
  justify-content: flex-end;
  align-items: center;
}
.nav-list {
  list-style: none;
}

 .header-container {
    background: url('./assets/img/bg.png');
    background-repeat: no-repeat;
    background-position: center 0;
  }

  .container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .logo {
    background-image: url('./assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
  }
  
 .logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  }